body {

    background-color:   gray;
    border:             150px ridge black;
    min-width:          610px;
    position: relative;
    max-height: 800px;
}

.buttonHead {

    border:             1px solid seagreen;
    border-radius:      8px;
    position: relative;
    top:        -85px;
    right: -355px;

}

.intro {
    position: relative;
    display: flex;
    flex-direction: row;
    right: 6px;
    top: -123px;
    font-size: 43pt;
    justify-content: cener;
    align-items: ceter;

}

.twentytwo {
    position: relative;
    bottom: 235px; // this affects the "22 images"//
}

h2 {
    position: relative;
    left: 450px;
    top: -70px;
    font-size: 40pt;
}
.bottom {
    position: relative;
    top: -275px;
    margin-bottom: 0%;
}

.images {

    display:                grid;
    grid-template-columns:  auto auto auto auto auto;
    justify-content:        space-evenly;
    border:                 1px solid  rgb(81, 21, 0);
    margin:                 5%;
    padding:                .1%;
    background-color:                                     rgb(78, 109, 91);
    right:                  20px;
    bottom:                 1px;
    position:               relative;
    top:     -48px;
    left:                   0%;
}

.cards {

    border:                 3px ridge rgb(123, 104, 56);
    margin:                 4%;
    padding:                 1px;
    position:                relative;
    left:                   -4%;
}

.lacunaLagoon {

    border: solid 1px rgb(118, 64, 46);
    background-color: rgb(87, 162, 137);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
    margin-left: 41.5%;
    margin-right: 5.5%;
    padding-right: 3px;
    padding-left:   3px;
    font-size: 8.5pt;
    position: relative;
    bottom: 197px;
}

.agatha {
    display:flow-root;
    margin:     1%;
    border:     2px ridge rgb(141, 114, 48);


}

.sink {
    width: 400px;
    height:60px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    left: 500px;

    border:             1px solid seagreen;
    border-radius:      8px;
    position: relative;
    top:        -155px;
    right: -355px;
    width: 60px;
    background-color: rgb(124, 112, 60)

}
