body {
    background-image: url("GWD-Fourteen.png");
    background-color:    black;
}
.buttonHead {

    border:             1px solid seagreen;
    border-radius:      8px;
}

h1 {

    font-size:      10pt;
}

.inputs {

    color:                  rgb(154, 0, 41);
    border:                 1px solid red;
    display:                grid;
    grid-template-columns:  auto;
    justify-content:        center;
    flex-direction:         column;
    margin:                 2%;
    padding:                6%;
    padding-right:          10%;
    padding-left:           10%;
    align-objects:          center;


}

legend {
    margin-left:            5%;
}

fieldset {

    margin-right:       35%;
    margin-left:        5%;
    padding:            4%;
}

input {

    display:                flex;
    border:                 1px solid red;
    justify-content:        space-around;
    margin:                 1%;
}

.formRow {

    border:                 2px solid red;
    display:                flex;
    justify-content:        space-around;
    margin-right:           10%;
    margin-left:            10%;
    padding-top:            1%;
    padding-bottom:         1%;
    min-width:              500px;
}

form{

    width:                  400px;

}

.eyes {

    border:                 3px dotted darkmagenta;

}

#ace {
    position: relative;
    top: 200px;
    right: -300px;
}
